apiVersion: v1
baseDomain: {{ base_domain }}
{% if proxy is defined %}
proxy:
  httpProxy: {{ proxy.http }}
  httpsProxy: {{ proxy.https }}
  noProxy: {{ proxy.no_proxy }}
{% endif %}
compute:
- name: worker
  replicas: 0 
controlPlane:
  name: master
  replicas: 1 
metadata:
  name: {{ inventory_hostname.split('.')[0] }}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network }}
  serviceNetwork:
  - 172.30.0.0/16 
platform:
  none: {}
bootstrapInPlace:
  installationDisk: {{ installation_disk | default('/dev/sda') }}
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ ssh_key }}
