---

- name: configure secrets for pipeline
  hosts:
    - sno_clusters
  gather_facts: false
  pre_tasks:
    - name: run on localhost
      delegate_to: localhost
      block:
        - name: get route to controller
          ansible.builtin.shell:
            cmd: oc get route -n ansible-automation-platform | grep controller | awk '{print $2}'
          args:
            chdir: "{{ tmpdir.path }}"
          environment:
            KUBECONFIG: "{{ tmpdir.path }}/ocp/auth/kubeconfig"
          register: _controller_route
        - name: get controller admin password
          ansible.builtin.shell:
            cmd: oc get secret controller-admin-password -n ansible-automation-platform -o jsonpath="{.data['password']}"  | base64 --decode
          args:
            chdir: "{{ tmpdir.path }}"
          environment:
            KUBECONFIG: "{{ tmpdir.path }}/ocp/auth/kubeconfig"
          register: _controller_password
          no_log: true
        - name: set controller facts
          ansible.builtin.set_fact:
            controller_hostname: "{{ _controller_route.stdout }}"
            controller_password: "{{ _controller_password.stdout }}"
  tasks:
    - name: make calls from localhost
      delegate_to: localhost
      block:
        - name: create secrets in namespace
          kubernetes.core.k8s:
            template: 'files/secrets/controller-auth.yaml.j2'